body {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  border: 3px solid #303f9f;
  border-radius: 15px;
}
.todo-header {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-header__input {
  width: 75%;
  margin-right: 10px;
}

.todo-list {
  width: 80%;
  margin: 20px auto;
}

.todo-filter {
  width: 80%;
  margin: 20px auto;
}

.todo-filter__radio-group {
  display: flex;
  justify-content: space-around;
}
